//컬러값 Gray
$black:#000;
$white:#fff;
$gray900: #1B1D1F;
$gray800: #26282B;
$gray600: #474C51;
$gray500: #74787D;
$gray400: #A0A4A8;
$gray200: #CACDD1;
$gray100: #E9EBED;
$gray50: #F7F8F9;

$primary900: #4D171A;
$primary800: #80272B;
$primary600: #CC3E45;
$primary500: #FF4D56;
$primary400: #FD767F;
$primary200: #FFBBBE;
$primary100: #FFDFE1;
$primary50: #FFF4F4;

$second900:#01264D;
$second800:#024080;
$second600:#035DBA;
$second500:#047FFF;
$second400:#5AABFF;
$second200:#9ECEFF;
$second100:#D1E8FF;
$second50:#F2F8FF;

$confirm500:#24C65D;
$confirm200:#7CDD9E;
$confirm50:#E6FDEE;

$alert500:#F63B22;
$alert200:#FA897A;
$alert50:#FDD8D3;

$info500:#FFBE17;
$info200:#FFD874;
$info50:#FFF8E7;

@mixin font($font:1.4,$weight:400,$color:$gray900){
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size:$font+rem;
  font-weight:$weight;
  color:$color;
}

html{
  font-size:62.5%;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
body {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
  font-size:1.4rem;
}

img {
  vertical-align: bottom
}
.container{
  width:1200px;
  margin:0 auto;
}
.subSpace{
  padding:60px 0 140px;
}
dl, ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

table, div, * {
  box-sizing: border-box;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  width: 100%;
}

button {
  cursor: pointer;
}
button:focus {outline:0;}

a {
  text-decoration: none;
  display: inline-block;
}

span, em, i {
  display: inline-block;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
textarea{
  &.error{
    border:1px solid $alert500 !important;
  }
}
caption{
  font-size:0;
}
input[type=text]{
  height:40px;
  border-radius:3px;
  border:1px solid $gray200;
  width:100%;
  padding-left:15px;
  @include font(1.4,400,$gray900);
  &.error{
    border:1px solid $alert500;
  }
}
.errorMessage{
  @include font(1.2,400,$alert500);
}
/*align*/
.left{
  text-align:left !important;
}
.center{
  text-align:center !important;
}
.right{
  text-align:right !important;
}
.relative{
  position: relative;
}
//margin, padding setting
@for $i from 0 through 200 {
  .mt#{$i} {
    margin-top: 0.1rem * $i !important;
  }
  .ml#{$i} {
    margin-left: 0.1rem * $i !important;
  }
  .mr#{$i} {
    margin-right: 0.1rem * $i !important;
  }
  .mb#{$i} {
    margin-bottom: 0.1rem * $i !important;
  }
  .pt#{$i} {
    padding-top: 0.1rem * $i !important;
  }
  .pl#{$i} {
    padding-left: 0.1rem * $i !important;
  }
  .pr#{$i} {
    padding-right: 0.1rem * $i !important;
  }
  .pb#{$i} {
    padding-bottom: 0.1rem * $i !important;
  }
}
.flex{
  display:flex;
  &.between{
    justify-content:space-between;
  }
  &.alignCenter{
    align-items:center;
  }
  &.justifyCenter{
    justify-content:center;
  }
}
//modal
#root{
  background-color:#fff;
}
.modalTitle{
  @include font(2, 700, $gray900);
  & p{
    @include font(2,700,$gray900)
  }
}
.modalConfirmTitle{
  text-align:center;
  @include font(1.6, 400, $gray900);
  margin-top:20px;
}
.modalCloseBtn{
  position:absolute;
  top:40px;
  right:40px;
  cursor:pointer;
}
//button
.btnGray{
  border:0;
  @include font(1.4,700,#fff);
  background-color:$gray500;
  height:30px;
  line-height:30px;
  border-radius:4px;
  padding:0 13px;
}
.btnblueBg{
  border:0;
  @include font(1.4,700,#fff);
  background-color:$second400;
  height:30px;
  line-height:30px;
  border-radius:4px;
  padding:0 13px;
}
.btnBlueGrayLine{
  border:1px solid $gray400;
  @include font(1.4,700,$second500);
  background-color:#fff;
  height:40px;
  line-height:30px;
  border-radius:6px;
  padding:0 15px;
}
.btnCancel{
  border:1px solid $gray400;
  @include font(1.6,700,$gray600);
  background-color:#fff;
  height:50px;
  line-height:30px;
  border-radius:6px;
  padding:0 56px;
  &.xs{
    @include font(1.4,400,$gray900);
    height:40px;
    padding:0;
    width:90px;
  }
}
.btnConfirm{
  border:1px solid $primary500;
  @include font(1.6,700,#fff);
  background-color:$primary500;
  height:50px;
  line-height:30px;
  border-radius:6px;
  padding:0 56px;
  &.xs{
    @include font(1.4,400,#fff);
    height:40px;
    padding:0;
    width:90px;
  }
}
//SelectBasic
.basicSelect{
  height:40px;
  & > div{
    position:relative;
    z-index:3;
  }
  @include font(1.4,400,$gray900);
  & fieldset{
    border:1px solid $gray200 !important;
  }
  & .MuiSelect-iconOpen{
    border:1px solid red
  }
  &.error{
    & fieldset{
      border:1px solid $alert500 !important;
    }
  }
  & svg{
    position:absolute;
    right:10px;
    top:12px;
  }
}
.selectYear{
  position:relative;
  & > div{
    padding:0 !important;
    position:relative;
    z-index:3;
  }
  & svg{
    position:absolute;
    right:0;
    top:4px;
  }
  & fieldset{
    border:0 !important;
  }
}
.hidden{
  display:none
}
.tag{
  font-size: 1.2rem;
  font-weight:700;
  background-color:#fff;
  border-radius: 4px;
  height:20px;
  line-height:18px;
  padding:0 2px;
}
//tag icon
.tagGreen{
  color:$confirm500;
  border:1px solid $confirm500;
}
.tagBlue{
  color:$second200;
  border:1px solid $second200;
}
.tagOrange{
  color:$info500;
  border:1px solid $info500;
}
//toast
.styles{
  background-color:$gray800;
  height:50px;
  border-radius:10px;
}
//table
.infoTbl{
  border-top:2px solid $gray500;
  & tr{
    & th{
      background-color:$gray50;
      text-align:left;
      @include font(1.4,700 $gray600);
      height:60px;
      padding-left:16px;
      border-bottom:1px solid $gray200;
    }
    & td{
      @include font(1.4,400 $gray600);
      padding:10px 16px 10px 16px;
      border-bottom:1px solid $gray200;
      &.lengthError{
        & input{
          color:$primary500;
        }
        & i{
          width: 19px;
          height: 17px;
          background:#fff url('../../public/assets/img/error_icon.svg') no-repeat;
          margin-left:10px;
          vertical-align:-3px;
        }
      }
      & input[type=text]{
        width:356px;
        &.bankNum{
          width:160px;
        }
        &.name{
          width:160px;
        }
        &.address{
          width:calc(100% - 390px);
        }
        &.zip{
          width:76px;
        }
        &:read-only{
          background:$gray100
        }
      }
      &.contractList{
        padding:40px 20px;
        & ul{
          & li{
            cursor: pointer;
            margin-bottom:10px;
            padding-left:10px;
            position:relative;
            & span{
              @include font(1.6,400 $gray900);
            }
            &:last-child{
              margin-bottom:0;
            }
            &:after{
              content:'';
              position:absolute;
              lefT:0;
              top:7px;
              width:3px;
              height:3px;
              border-radius:50%;
              background-color:$gray900;
            }
            &:hover{
              &:after{
                width:4px;
                height:4px;
              }
              & span{
                @include font(1.6,700 $gray900);
                font-weight:700 !important;
                position:relative;
                &:after{
                  content:'계약서 보기';
                  position:absolute;
                  white-space:nowrap;
                  top:-7px;
                  right:-80px;
                  @include font(1.3,700 #fff);
                  color:#fff !important;
                  background-color:$gray600;
                  z-index:2;
                  height:30px;
                  line-height:30px;
                  padding:0 8px;
                  border-radius:4px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.circularProgressWrap{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
/*pagination*/
.paginationWrap{
  display:flex;
  justify-content:center;
  margin-top:50px;
  & .pagination{
    & ul{
      display:flex;
      & li{
        & .paginationUi{
          & img{
            vertical-align:0px;
          }
        }
        & button{
          @include font(1.8,400 $gray500);
          color:#74787D;
          background-color:#fff;
          border:0;
          padding:0 24px;
        }
      }
    }
  }
}

