@import '@style/index';
.dim{
  background-color: rgba(0,0,0,0.1);
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  z-index:9;
}
.circularProgress{
  position: relative;
  z-index:10;
}
